@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


img {
    width: 100%;
}

h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    font-weight: 500;
}

h3 {
    font-size: 25px;
}

p {
    font-family: 'Raleway', sans-serif;
}

.modal-body, .modal-title{
    color: #565656;
    text-align: left;
}

.banner {
    background-image: url("images/theginclub.jpg");
    padding: 40px 20px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: rgba(34, 34, 34, 0.75);
    color: #fff;
    text-align: center;
}

.signUp, .signUp .jumbotron {
    background-color: #8ddc86;
    padding: 15px;
}

/*.............. How does it work */

#instructions {
        color: #526674;
        background-color: #fff;
        padding: 30px;
        text-align: center;
}

#instructions p {
   padding-top: 15px; 
}


/*................... What's included */

#whatsIncluded {
    color:#fff;
    background-color: #e24923;
}

#whatsIncluded li {
    padding-bottom: 10px
}


/*......................... Members */

.members {
    color: #333;
    background-color: #fff;
    position: center;
    padding: 30px;
    }

    /*--------------------- Contact us */

    .contact {
        margin: 30px;
        color: #535353;
        font-family: "raleway", sans-serif;
    }

    .contact h3 {
        text-align: left;
        padding: 0 0 15px 0;
    }

    label, input {
        display: block;
    }

    .formfield {
        border: 1px solid #ccc;
        background-color: #fafafa;
        color: #535353;
        width: 100%;
        margin: 10px 0px 10px 0px;
    }

    #message {
        padding: 12px 12px; 
    }
        
    #question {
        display: block;
        padding: 14px 35px;
        cursor: pointer;
    }

    #subscribe {
        display: inline;
        margin: 20px 0px;
    }

    #contactTitle {
        text-align: left;
    }


/*--------------------- Footer */

footer {
    color: #fff;
    background-color: #e24923;
}

.footerMenu {
    list-style-type: none;
    text-align: center;
    margin: 20px;
    padding: 15px;
}

.footerMenu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.footerMenu li {
    padding: 15px;
}

.footerMenu a:hover { 
    border-bottom: 1px solid #fff;
}

#copyright {
    font-size: 70%;
}

    /*--------------------- Social */

.social {
    color: #fff;
    text-align: center;
    padding: 10px;
}

.social a:hover {
    color: #535353;
}


/*.................... Media Queries */

@media (min-width: 0px) {
    .jumbotron h1, .jumbotron h3 {
        font-size: 2.5em;
        font-weight: 400;
    }

}

@media (min-width: 768px) {
    .jumbotron h1, .jumbotron h3 {
        font-size: 4em;
    }

    h3 {
        font-size: 35px;
    }
}

@media screen and (min-width: 960px) {

    footer {
        height: 200px;
    }

    .footerMenu li {
       float: left;
    }

   .formfield {
       width: 50%;
       display: block;
   }

}