@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.banner {
    background-image: url("images/theginclub.jpg");
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-repeat: no repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.jumbotron {
    background-color: rgba(0,0,0,0);
}

.jumbotron button {
    
}

i {
    height: 50px;
    width: 50px;
}

#whatsIncluded {
    color: rgb(226, 208, 208);
    background-color: #e24923;
    margin: 0 auto;
}

#whatsIncluded h3 {
    padding-bottom: 15px;
}

#whatsIncluded li {
    padding-bottom: 10px
}

.whatsIncluded {
    color: #fff;
    position: center;
    padding: 15% 10%;
    font-family: 'Raleway', sans-serif;
}

/* ------------------ Members */

.members {
    color: #fff;
    background-color: #526674;
    position: center;

}

/* Hidden burger menu */ 

#menuShowHide {
	position:right;
	right: 999em;
}

#mainMenu {
	list-style:none;
	text-align:centerleft;
	padding:0.25em 0;
	margin-bottom:1e
}

#mainMenu a {
    position: right;
	display:inline;
	padding:0.25em 1em;
	text-decoration:none;
	color:#fff;
}

#mainMenu a:active,
#mainMenu a:focus,
#mainMenu a:hover {
	background:rgb(4, 25, 46);
}

footer {
    color: #fff;
    background-color: #e24923;
}


/* media queries */

@media (min-width:0em) {
	#mainMenu {
		display:none;
	}

@media (min-width: 38em) {
    #mainMenu {
        display: inline-block;
    }

	#menuShowHide + label:before {
		content:"<i class="fas fa-bars"></i>";
	}
	#menuShowHide:checked + label:before {
		content:"<i class="fas fa-bars"></i>";
	}

    #menuShowHide:checked ~ #mainMenu {
		display:block;
	}