@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

img {
    width: 100%;
}

h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}


.banner {
    background-image: url("images/theginclub.jpg");
    color: #fff;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.jumbotron {
    background-color: rgba(0,0,0,0);
    color: #fff;
    text-align: center;
}

.signUp {
    background-color: #8ddc86;
}

/*.............. How does it work */

.instructions {
        color: #526674;
        padding: 30px;
        text-align: center;
}


/*................... What's included */

#whatsIncluded {
    color:#fff;
    background-color: #e24923;
}

#whatsIncluded li {
    padding-bottom: 10px
}


/*......................... Members */

.members {
    color: #fff;
    background-color: #526674;
    position: center;
    padding: 30px;
}


.profile {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
}


    /*--------------------- Contact us */

    .contact {
        margin: 30px;
        color: #535353;
        font-family: "raleway", sans-serif;
    }

    label, input {
        display: block;
    }

    .formfield {
        border: 1px solid #ccc;
        background-color: #fafafa;
        color: #535353;
        width: 100%;
        margin: 10px 0px 10px 0px;
    }

    #message {
        padding: 12px 12px; 
    }
        
    #question {
        display: block;
        padding: 14px 35px;
        cursor: pointer;
    }

    #subscribe {
        display: inline;
        margin: 20px 0px;
    }

    #contactTitle {
        text-align: left;
    }


/*--------------------- Footer */

footer {
    color: #fff;
    background-color: #e24923;
}

.footerMenu {
    list-style-type: none;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.footerMenu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.footerMenu li {
    padding: 20px;
}

.footerMenu a:hover { 
    border-bottom: 1px solid #fff;
}

#copyright {
    font-size: 70%;
}

    /*--------------------- Social */

.social {
    color: #fff;
    text-align: center;
    padding: 10px;
}

.social a:hover {
    color: #535353;
}


/*.................... Media Queries */

@media screen and (min-width: 769px) {

    footer {
        height: 100px;
    }

    .footerMenu li {
       float: left;
    }

   .formfield {
       width: 50%;
       display: block;
   }

}
